body{background-color: #eee;}
.logo{margin:20px auto 30px; display: block; width: 142px; height: 92px; text-indent: -9999px; overflow: hidden;
    background: url(http://kjy990417.cafe24.com/common/images/logo_02.png) center no-repeat;}
#content{width: 90%; margin: 0 auto; background: #fff; border-radius: 10px; font-family: 'Noto Sans KR', sans-serif;margin-bottom: 100px;padding-bottom: 30px;}  


    .member_tab{padding: 30px 0;border-top: 1px solid #333;}
    .member_tab a{font-size: 24px;padding: 10px;margin: 0 10px;color: #aaa;}
    .member_tab a.on{color: #fff;border-bottom: 2px solid #333;font-weight: bold}
    .member_tab span{font-size: 24px;padding: 10px;margin: 0 10px;color: #fff;font-weight: bold}

    .join{text-align: left; position: relative;}
    .join h4{font-size: 15px; color: #333;margin-left: 10px;}
    .join h3{font-size: 25px; color: #333; position: relative;text-align: center;padding: 15px 0 40px 0;}
    
   
    .join .policy{padding: 10px; overflow-y: scroll; height: 80px; margin: 15px 10px;border: 1px solid #ddd;
        background: #fff; font-size: 13px; line-height: 1.5em;}
    .join .check{color: #333; margin: 20px 0 40px 0;font-size: 12px;}
    .join .button{text-align: center;margin-top: 30px}
    .join .button .ok,.join .button button,.join .allcheck{display: inline-block;line-height: 40px; height: 40px; padding: 0 10px;border: none;border: 1px solid #02a7cf;
        background: #02a7cf;color: #fff;font-size: 15px;cursor: pointer;border-radius: 10px;}
    .join .button .cancel{display: inline-block;width: 200px;line-height: 24px;padding: 8px 0;border: none;background: #999;color: #fff;font-size: 14px;cursor: pointer}
    .join .allcheck{background: transparent; border: 1px solid #02a7cf; color: #02a7cf;} 


    /* 체크박스 UI변경 */
    input[type=checkbox] + label::before {           /* + => 친구라는 의미 */
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #999;
        content: '';
        margin: 0px 5px -6px 10px;
        border: 2px solid #dedede;
    }
    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox] + label {
        cursor: pointer;
    }
    /* 체크박스타입의 인풋이 :checked  => 체크되면 + 라벨의 비포*/
    input[type=checkbox]:checked + label::before {
        background: #fff url(../images/checked_bg.png) center center no-repeat;
        border: 2px solid #0075ff;
    }