/* CSS Document */
/* 비주얼 영역 */
.visual .swiper-container {
    width: 100%;
    height: auto;
  }
.visual .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }

.visual img{width: 100%;}
.visual{position: relative;}
.visual p{position: absolute;top: 53%; left: 0;width: 100%;text-align: justify;font-size: 27px;color: #fff;margin-left: 20px;font-weight: 600;}
.visual p:nth-last-of-type(1){position: absolute;top: 71%;width: 100%;font-size: 18px;font-weight: 400;}
.visual .swiper-pagination-bullet-active{background: #fff;}
.visual .swiper-pagination-bullet{width: 15px;height: 15px;}
.visual .swiper-button-next, .swiper-button-prev{color: #fff;}

#content h3{font-size: 24px;font-weight: bold;}

/* 프로모션 */
.promotion_inner{position: relative;margin-left: 10px;margin: 50px 0 0 10px}
.promotion_inner h3{margin: 50px 0 0 0px}
.promotion_inner span{font-size: 16px;}
.promotion_inner span:last-child{font-size: 2.5em}
.promotion_inner ul{margin-top: 65px;padding-bottom: 10px;}
.promotion_inner li{width: 170px;height: 170px;background: #dedede;box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25); margin-left: 20px;border-radius: 20px;text-align: center;}
.promotion_inner img{width: 110px;margin-top: 20px;}
.promotion_inner dt{font-size: 15px;font-weight: 600;margin-top: 10px;}
.promotion_inner dd{font-size: 14px;margin-top: 10px;}

.promotion_inner .more{position: absolute;top: 60px;right: 20px;height: 45px;color: #666;}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-notification{height: 0;}


/* 프로그램 */
.program_inner{background: url(../images/program_background_x2.png) repeat-x;width: 100%;padding-bottom: 10px;}
.program_inner h3{padding-top: 20px;margin: 50px 0 0 10px}
.program_inner span{font-size: 16px;margin: 0 0 50px 10px;}
.program_inner ul{margin-top: 50px;}
.program_inner ul li{position: relative;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.40);}
.program_inner ul li img{width: 300px;}
.program_inner ul li a{position: absolute;top:244px;font-size: 25px;text-align: center;width: 300px;background: rgba(0, 0, 0, 0.40);color: #fff;padding: 10px 0;}

.swiper-container3 {
  width: 100%;
}
.swiper-container3 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;

}

/* 프렌즈 */

.friends_inner{position: relative;}
.friends_inner .more{position: absolute;top:120px;right: 10px;color: #fff;}
.friends_inner span:last-child{font-size: 2.5em;}

.friends_inner .right{position: absolute;top:116px;right: 70px;color: #fff;font-size: 2em;}
.friends_inner .left{position: absolute;top:116px;right: 115px;color: #fff;font-size: 2em;}

.friends_inner{background: url(../images/friends_background_x2.png) repeat-x;width: 100%;position: relative;padding-bottom: 50px;}
.friends_inner h3,.friends_inner span{color: #fff;}
.friends_inner h3{margin: 50px 0 0 10px;padding-top: 20px}
.friends_inner span{font-size: 16px;margin: 0 0 50px 10px;}
.friends_inner div{margin-top: 85px;margin-left: 18%;width: 80%;height: 200px;background: url(../images/friends01_x2.png) center no-repeat;margin-right: 2%;background-size: cover;border-radius: 10px;}

.friends_inner dl{width: 45%;height: 120px;margin-left: 10px;background: linear-gradient(111deg, #0067AC 0%, #47A0E0 78.54%); box-shadow: 2.5px 2.5px 7.5px 1.5px rgba(0, 0, 0, 0.25);position: absolute;top: 230px;left: 0;border-radius: 10px;}

.friends_inner dl dt{color: #fff;font-size: 18px;font-weight: 600;text-align: center;margin-top: 10px;}
.friends_inner dl dd{padding: 0 10px;color: #fff;font-size: 15px;margin-top: 5px;text-align: justify;}



/* 인포메이션 */
.information_inner{background: url(../images/information_background_x2.png) repeat-x;width: 100%;position: relative;}
.information_inner h3{margin: 50px 0 0 10px;padding-top: 20px;color: #fff;}
.information_inner span{font-size: 16px;margin: 0 0 50px 10px;color: #fff;}
.information_inner ul{width: 90%;padding-bottom: 50px; margin: 50px 0 0 5%;}
.information_inner ul li{height: 35px;border-radius: 20px;
  background: #E4EFF2;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
margin-bottom: 10px; font-size: 14px;font-weight: 500;padding-top: 15px;padding-left: 15px;position: relative;}
.information_inner li a{position: absolute;top:10px;right: 18px;font-size: 20px;}