/* 인사말 본문 css */
#content .contentArea img{width: 94%;margin-left: 3%;border-radius: 10px;}
#content .contentArea dl{margin-left: 3%;width: 94%;}
#content .contentArea dl dt{font-size: 17px;margin:10px 0 10px 0;font-weight: 600;color: #02A7CF;}
#content .contentArea dl dd{margin-bottom: 40px;line-height: 1.5em;font-size: 15px;}

#content .contentArea .for{position: relative;margin: 70px 0 45px 0;}
#content .contentArea .for .foryou{width: 100%;border-radius: 0;margin: 0 auto;}
#content .contentArea .for p{position: absolute;top: 10%;font-weight: 600;color: var(--color, #C2CCDA);text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);font-size: 30px; font-style: normal;line-height: normal;width: 100%;text-align: center;}

.swiper-container2{margin-right: 3%;}
#content .contentArea ul{margin-left: 3%}
#content .contentArea ul li {width:80%;margin: 0 auto;}
#content .contentArea ul li dl{text-align: center;}

#footerArea{margin-top: 60px;}