.contentArea h3{font-size: 15px;text-align: center;font-weight: 500;margin-bottom: 30px;}
.contentArea h3 span{font-size: 14px;color: #02A7CF;}
.contentArea img{width: 94%;margin-left: 3%;margin-bottom: 15px;}
.contentArea dl{margin:0 0 25px 3%;width: 94%;}
.contentArea dl dt span{display: block;font-size: 15px;color: #02A7CF;}
.contentArea dl dt{font-size: 18px;font-weight: 600;margin-bottom: 10px;}
.contentArea dl dd{line-height: 1.5em;text-align: justify;}

#footerArea{margin-top: 75px;}