#content .contentArea .tabs{border-bottom: 1px solid #ccc;width: 94%;margin-left: 3%;}
#content .contentArea .tabs ul{overflow: hidden;width: 90%;margin-left: 11%;}
#content .contentArea .tabs ul li{float: left;width: 43%;}
#content .contentArea .tabs ul li a{font-size: 15px;text-align: center;padding: 5px 0;color: #333;}

#content .contentArea h3{font-size: 20px;text-align: center;font-weight: 500;margin: 50px 0 10px 0;}
#content .contentArea p{font-size: 16px; text-align: center;color: #333;font-weight: 400;margin-bottom: 50px;}
#content .contentArea i{color: #02A7CF;}
#content .contentArea img{width: 94%;margin:0 0 0 3%;}

#content .tab_box #map{width: 94%;margin:0 0 40px 3%;height: 300px;}
#content .tab_box section{display: none;}
#content .tab_box section h4{font-size: 18px;font-weight: 500;width: 94%;margin:40px 0 20px 3%;}
#content .tab_box section h4 span{font-size: 20px;color: #02A7CF;}
#content .tab_box section ul{width: 94%;margin:0 0 30px 3%;}
#content .tab_box section ul li{line-height: 1.5em;margin-bottom: 8px;list-style: disc;margin-left: 7%;}
#content .tab_box section dl{margin:0 0 25px 3%;width: 94%;}
#content .tab_box section dl dt{font-size: 17px;font-weight: 500;margin-bottom: 10px;}
#content .tab_box section dl dd{margin:0 0 5px 3%;}

#footerArea{margin-top: 70px;}
