#content .tabs{margin-top: 150px;}
#content .tabs .tab_box{margin:0 auto;border-bottom: 1px solid #ccc;}
#content .tabs .tab_box ul{overflow: hidden;width: 100%;margin-left: 200px;}
#content .tabs .tab_box li{width: 400px;float: left;text-align: center;margin: 0 auto;}
#content .tabs .tab_box li a{padding: 20px 0;font-size: 1.2em;}
#content .tabs .tab_box li:hover a, #content ul li .current{border-bottom: 3px solid #02a7cf;font-weight: 700;}

#content .contlist{display: none;}

#content .contlist h3{font-size: 2.250em;text-align: center;margin-top: 150px;}
#content .contlist p{font-size: 1.5em;text-align: center;margin: 30px 0 80px 0;}
#content .contlist img{margin: 0 0 100px 100px;}

#content .contlist .position{margin-left: 100px;}
#content .contlist .position dt{font-size: 1.5em;font-weight: 600;margin-bottom: 30px;}
#content .contlist .position dt span{font-size: 2rem;color: #02a7cf;}
#content .contlist .position dd{font-size: 1.125em;margin-bottom: 70px;}

#content .contlist .detail{margin-left: 100px;}
#content .contlist .detail dt{font-size: 1.5em;font-weight: 600;margin-bottom: 30px;}
#content .contlist .detail dd{font-size: 1.125em;margin-bottom: 5px;}
#content .contlist .detail dt span{font-size: 2rem;color: #02a7cf;}
#content .contlist .detail dd:last-child{margin-bottom: 150px;}
